* {
    font-family: Hack, Consolas;
}

body {
    display: block;
    font-size: 12px;
    margin: 0px;
    font-weight: normal;
}


p {
    margin: 5px 10px 0px 15px;
    color: #595959;
}

.rowidbanner {
    width: 3.8%;
    float: left;
    text-align: right;
    background-color: #707070 !important;
    height: 100%;
}


.summarybanner {
    display: flex;
    margin: 0px;
    flex-direction: column;
    height: 15%;
    width: 68.2%;
    float: left;
    padding: 0px;
    background-color: #ffffff !important;
}

.imgcontainer {
    height: 15%;
    width: 28%;
    display: flex;
    padding: 0px;
    flex-wrap:nowrap;
    justify-content:space-around;
}
.badge-wrapper {
    margin-top: 15px;
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
}
.img-badge {
    max-height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.personalscontainer {
    display: flex;
    flex-wrap: wrap;
    height: 5%;
    width: 96.2%;
    font-size: 1em;
    box-sizing: border-box;
    gap: 5px;
    border-left: 8px solid #707070;
    border-right: 8px solid #707070;
    border-top: 5px solid #707070;
    border-bottom: 5px solid #707070;
    background-color: #707070 !important;
}

.workxp-container {
    display: flex;
    width: 68.2%;
    height: 80%;
    float: left;
    color: #595959;
    padding: 0px;
    background-color: #ffffff !important;
    flex-direction: column;
}

.student-workxp-container {
    display: flex;
    width: 68.2%;
    height: 100%;
    float: left;
    padding: 0px;
    background-color: #ffffff !important;
    flex-direction: column;
}

.workxp-grid-single {
    display: grid;
    margin: 15px 15px 5px;
    gap: 5px 0px;
}

.title {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10;
    text-align: left;
    font-size: 1.1em;
    font-weight:bolder;
}
.time {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row: 1/1;
    text-align: right;
    font-size: 1em;
    font-weight: 600;
}

.location:not([id~="projects_clubs"]) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row: 2/2;
    text-align: left;
    font-size: 0.9em;
    font-style: italic;
}

.projects-title {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10;
    text-align: left;
    text-decoration: underline;
    font-size: 0.9em;
    margin: 20px 15px 5px;
}


.projects-descr {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row: 2/2;
    text-align: left;
    font-size: 0.9em;
    margin: 0px 15px 5px;
}


.workxp-grid-single-small {
    justify-content: space-between;
    color: #ffffff !important;
    font-size: 1em !important;
    margin: inherit;
    font-style: normal !important;
    padding-inline-start: 0px;
}



*, *:before, *:after {
    box-sizing: border-box;
  }
.education-grade {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row: 2/2;
    text-align: right;
    font-size: 0.9em;
    margin: 0px 15px 5px;
    font-style: italic;
}

li {
    padding-bottom: 5px;
    padding-right: 1px;
}


ul.description {
    margin: 5px 15px;
    list-style-type: disc;
    text-align: left;
    padding-inline-start: 15px;
}

ul.description-sub {
    list-style-type: none;
    margin: 0px 15px;
    text-align: left;
    padding-inline-start: 30px;
}

ul.description-sub>li {
    text-indent: -12px;
}

ul.description-sub>li:before {
    content: "- ";
    text-indent: -10px;
}

ul[id~= "interests"] {
    margin: 5px 15px;
    text-align: left;
    color: #ffffff;
    font-size: 0.9em;
    padding-inline-start: 15px;
}



.first-banner {
    display: flex;
    height: 80%;
    width: 28%;
    padding: 0px;
    flex-direction: column;
    background-color: #707070 !important;
}

ul.skilllist:not(#interests) {
    list-style-type: none;
    margin: 15px 1px 5px 5px;
    font-size: 12px;
    text-align: left;
    justify-content:space-between;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    color: #ffffff;
    
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}


ul.skilllist[id~= "interests"]  {
    list-style-type: none;
    margin: 8px;
    color: #ffffff;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}


ul.skilllist>li:not(:last-child):after{
    content: " •";
    margin: 1px;
}

#skillblock {
    background-color: rgb(239, 239, 239, 0.75) !important;
    border-radius: 10px;
    height: 20px;
    margin: 0px 15px;
    display: flex;
}


#skillblock-actual {
    background-color: #1A4A5D !important;
    border-radius: 10px;
    height: 20px;
    color:#ffffff;
    font-size: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.second-banner {
    display: flex;
    height: 100%;
    width: 28%;
    flex-direction: column;
    background-color: #707070 !important;
}


personaldetail {
    display: inherit;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    color: #ffffff !important;
    background-color: #1A4A5D !important;
}

highl {
    font-weight: bold;
    color: #1A4A5D;
}

h1 {
    font-size: 19px;
    text-align: left;
    display: inline;
    color: #595959 !important;
}
pre {
    margin-left: 15px;
}

h1::after {
    content: "'";
}

h2 {
    margin: 20px 15px 5px;
    font-size: 16px;
    text-align: left;
    color: #1A4A5D !important;
    font-weight: bold;
}

h2 span {
    padding: 1px;
    background-color: rgba(190, 190, 190, 0.75);
}


h5 {
    font-weight: 500;
    font-size: 12px;
    margin: 10px;
    color: inherit;
    text-align: center;
    text-decoration-line: underline;
}

h6 {
    margin: 2px 5px;
    font-size: 1em;
    text-align: right;
    display:flow-root;
    color: #efefef !important;
}
h6::before {
    content: counter(rownum);
    counter-increment: rownum 1;
}
page[size="A4"] {
    background: #ffffff;
    width: 21cm;
    height: 29.7cm;
    counter-reset: rownum;
    display: block;
    margin: 0cm auto;
    page-break-after: always;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

}

@media print {

    body,
    page[size="A4"]  {
        margin: 0px;
        box-shadow: 0px;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}